---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import Break from '../components/Break.astro';
---

<Layout>
    <h1 class="text-2xl text-purple-300">hello!</h1>
    <p>i'm jess and welcome to my personal site!</p>
    <p>i'm a 27 yr old trans woman living somewhere in upstate new york!</p>
    <p>i work professionally as a web developer, but in my spare time i enjoy watching anime, reading books, playing games, and sometimes, somehow, also doing more programming outside of work!</p>
    <p>you can find me on the websites listed below!</p>
    <p>thanks for visiting my webbed site! &lt;3</p>
    <Break></Break>
    <h2 class="text-2xl text-purple-300">links!</h2>
    <ul>
        <li>
            <span>tumblr: </span>
            <Link href="https://firefoxies.tumblr.com/" label="firefoxies"></Link>
        </li>
        <li>
            <span>bluesky: </span>
            <Link href="https://bsky.app/profile/fluffyfoxies.moe" label="fluffyfoxies.moe"></Link>
        </li>
        <li>
            <span>misskey/mastodon: </span>
            <Link href="https://mk.absturztau.be/@firefoxies" label="firefoxies"></Link>
        </li>
        <li>
            <span>steam: </span>
            <Link href="https://steamcommunity.com/id/Firefoxies/" label="firefoxies"></Link>
        </li>
        <li>
            <span>myanimelist: </span>
            <Link href="https://myanimelist.net/profile/Firefoxies" label="firefoxies"></Link>
        </li>
        <li>
            <span>anilist: </span>
            <Link href="https://anilist.co/user/firefoxies/" label="firefoxies"></Link>
        </li>
        <li>
            <span>youtube: </span>
            <Link href="https://www.youtube.com/@Firefoxies" label="firefoxies"></Link>
        </li>
    </ul>
    <Break></Break>
    <h3 class="text-2xl text-purple-300">buttons!</h3>
    <div class="flex flex-wrap gap-1">
        <img src="assets/anime_eyes.gif" alt="Animated loop of a 90s-style teal-haired anime girl blinking.">
        <img src="assets/discord.gif" alt="Animated banner transitioning from 'Tired of SKYPE?' to 'Just get DISCORD'.">
        <img src="assets/animegay.gif" alt="Two anime girls kissing over a rainbow with text: 'anime is gay as hell but I approve!'">
        <img src="assets/girlbutton.gif" alt="Pastel pink and purple button with an anime character and the word 'GIRL'.">
        <img src="assets/lesb.png" alt="Button featuring the orange-to-pink lesbian pride flag.">
        <img src="assets/gay.png" alt="Button featuring the six-color rainbow LGBTQ+ pride flag.">
        <img src="assets/trans.png" alt="Button featuring the blue, pink, and white transgender pride flag.">
        <img src="assets/weedmexplore.gif" alt="Green button reading 'Marijuana Mind Explorer' with a spinning cannabis leaf.">
        <img src="assets/chrome.gif" alt="Black and red button reading 'Google Chrome IS EVIL!' with a spinning pentagram.">
        <img src="assets/firefox.gif" alt="Vintage Firefox promo button reading 'Firefox Now! NEW'.">
        <img src="assets/dumbass.gif" alt="Button with a danger stripe reading 'dumbass Webmaster AHEAD!' next to an anime character."> 
        <img src="assets/bestvieweddesktop.gif" alt="Button reading 'Best viewed on desktop' with a flashing phone prohibition sign.">
        <img src="assets/madoka.gif" alt="Close-up animation cycling through the faces of the main characters from Madoka Magica.">
        <img src="assets/keep.gif" alt="Green terminal text animation cycling between 'KEEP THE WEB Free' and 'SAY NO TO WEB3'.">
        <img src="assets/webdesign.gif" alt="Cartoon cat with flashing rainbow text reading 'web design is my passion'.">
        <img src="assets/xp.gif" alt="Windows XP 'Bliss' wallpaper with blinking text reading 'I miss XP!'.">
        <img src="assets/programmingsocks.gif" alt="Pixel art button reading 'always wear your programming socks' with striped thigh-highs.">
    </div>
</Layout>