---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import Break from '../components/Break.astro';
---

<Layout>
    <h1 class="text-2xl text-purple-300">hello!</h1>
    <p>i'm jess and welcome to my personal site!</p>
    <p>i'm a 27 yr old trans woman living somewhere in upstate new york!</p>
    <p>i work professionally as a web developer, but in my spare time i enjoy watching anime, reading books, playing games, and sometimes, somehow, also doing more programming outside of work!</p>
    <p>you can find me on the websites listed below!</p>
    <p>thanks for visiting my webbed site! &lt;3</p>
    <Break></Break>
    <h2 class="text-2xl text-purple-300">links!</h2>
    <ul>
        <li>
            <span>tumblr: </span>
            <Link href="https://firefoxies.tumblr.com/" label="firefoxies"></Link>
        </li>
        <li>
            <span>bluesky: </span>
            <Link href="https://bsky.app/profile/fluffyfoxies.moe" label="fluffyfoxies.moe"></Link>
        </li>
        <li>
            <span>misskey/mastodon: </span>
            <Link href="https://mk.absturztau.be/@firefoxies" label="firefoxies"></Link>
        </li>
        <li>
            <span>steam: </span>
            <Link href="https://steamcommunity.com/id/Firefoxies/" label="firefoxies"></Link>
        </li>
        <li>
            <span>myanimelist: </span>
            <Link href="https://myanimelist.net/profile/Firefoxies" label="firefoxies"></Link>
        </li>
        <li>
            <span>anilist: </span>
            <Link href="https://anilist.co/user/firefoxies/" label="firefoxies"></Link>
        </li>
        <li>
            <span>youtube: </span>
            <Link href="https://www.youtube.com/@Firefoxies" label="firefoxies"></Link>
        </li>
    </ul>
    <Break></Break>
    <h3 class="text-2xl text-purple-300">buttons!</h3>
    <div class="flex flex-wrap gap-1">
        <img src="assets/anime_eyes.gif">
        <img src="assets/discord.gif">
        <img src="assets/animegay.gif">
        <img src="assets/girlbutton.gif">
        <img src="assets/lesb.png">
        <img src="assets/gay.png">
        <img src="assets/trans.png">
        <img src="assets/weedmexplore.gif">
        <img src="assets/chrome.gif">
        <img src="assets/firefox.gif">
        <img src="assets/dumbass.gif"> 
        <img src="assets/bestvieweddesktop.gif">
        <img src="assets/madoka.gif">
        <img src="assets/keep.gif">
        <img src="assets/webdesign.gif">
        <img src="assets/xp.gif">
        <img src="assets/programmingsocks.gif">
    </div>
</Layout>