---
import Nav from '../components/Nav.astro';
---

<header class="lg:flex lg:justify-between text-purple-300 p-4 lg:py-4 lg:px-0">
    <div class="flex justify-center">
        <h1 class="text-3xl">fluffyfoxies dot moe</h1>
    </div>
    <div class="flex justify-center lg:justify-end">
        <Nav></Nav>
    </div>
</header>