---
import Nav from '../components/Nav.astro';
---

<header class="flex justify-between text-purple-300 py-4">
    <div class="flex justify-center">
        <h1 class="text-3xl">fluffyfoxies dot moe</h1>
    </div>
    <div class="flex justify-end">
        <Nav></Nav>
    </div>
</header>