---

---    
<nav class="flex justify-center p-2">
    <ul class="flex gap-2">
        <li>
            <a class="text-purple-300 hover:underline" href="/">Home</a>
        </li>
        <span class="text-white">//</span>
        <li>
            <a class="text-purple-300 hover:underline" href="/blog">Blog</a>
        </li>
        <span class="text-white">//</span>
        <li>
            <a class="text-purple-300 hover:underline" href="https://firefoxies.atabook.org/">Guestbook</a>
        </li>
    </ul>
</nav>